{% extends "base.html" %} 
{% load widget_tweaks %}
{% load i18n %} {% block head_title %}{% trans
"Change Password" %}{% endblock %} {% block content %}
<div class="w-1/2 ml-auto mr-auto">
  <h1 class="py-8 text-4xl font-light text-center">{% trans "Change Password" %}</h1>

  
  <form novalidate class="flex flex-col w-1/2 px-4 py-4 ml-auto mr-auto font-light bg-gray-100 rounded-lg" action="{% url 'account_change_password' %}" method="post">
    {% csrf_token %}
    {% for field in form.visible_fields %}
    {% if field.errors %}
        {% for error in field.errors %}
        <small class="px-2 py-4 mb-2 font-bold text-gray-100 bg-green-400 rounded-lg text-muted">{{ error }}</small>
        {% endfor %}
      {% endif %}
    <label  class="text-lg leading-7 text-gray-600 ">{{field.label_tag }}</label>
    <span class="py-2">{% render_field field class="w-full px-3 py-1 text-base leading-8 text-gray-700 transition-colors duration-200 ease-in-out bg-white border border-gray-300 rounded outline-none focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200" %}</span>
   
    {% endfor %}
    <input type="submit" class="px-6 py-2 mt-4 text-lg text-white bg-indigo-500 border-0 rounded focus:outline-none hover:bg-indigo-600" value="Submit"/>
    <a class="py-3 text-blue-400" href="{% url 'account_reset_password' %}"
      >{% trans "Forgot Password?" %}</a
    >
</form>
</div>
{% endblock %}
